<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BTC</key>
	<dict>
		<key>name</key>
		<string>Bitcoin</string>
		<key>abbreviation</key>
		<string>BTC</string>
	</dict>
	<key>ETH</key>
	<dict>
		<key>name</key>
		<string>Ethereum</string>
		<key>abbreviation</key>
		<string>ETH</string>
	</dict>
	<key>LTC</key>
	<dict>
		<key>name</key>
		<string>Litecoin</string>
		<key>abbreviation</key>
		<string>LTC</string>
	</dict>
	<key>XRP</key>
	<dict>
		<key>name</key>
		<string>Ripple</string>
		<key>abbreviation</key>
		<string>XRP</string>
	</dict>
	<key>ETC</key>
	<dict>
		<key>name</key>
		<string>Ethereum Classic</string>
		<key>abbreviation</key>
		<string>ETC</string>
	</dict>
	<key>XEM</key>
	<dict>
		<key>name</key>
		<string>NEM</string>
		<key>abbreviation</key>
		<string>XEM</string>
	</dict>
	<key>DASH</key>
	<dict>
		<key>name</key>
		<string>Dash</string>
		<key>abbreviation</key>
		<string>DASH</string>
	</dict>
	<key>IOT</key>
	<dict>
		<key>name</key>
		<string>IOTA</string>
		<key>abbreviation</key>
		<string>IOT</string>
	</dict>
	<key>BTS</key>
	<dict>
		<key>name</key>
		<string>BitShares</string>
		<key>abbreviation</key>
		<string>BTS</string>
	</dict>
	<key>XMR</key>
	<dict>
		<key>name</key>
		<string>Monero</string>
		<key>abbreviation</key>
		<string>XMR</string>
	</dict>
	<key>STRAT</key>
	<dict>
		<key>name</key>
		<string>Stratis</string>
		<key>abbreviation</key>
		<string>STRAT</string>
	</dict>
	<key>ZEC</key>
	<dict>
		<key>name</key>
		<string>Zcash</string>
		<key>abbreviation</key>
		<string>ZEC</string>
	</dict>
	<key>NEO</key>
	<dict>
		<key>name</key>
		<string>NEO</string>
		<key>abbreviation</key>
		<string>NEO</string>
	</dict>
	<key>SC</key>
	<dict>
		<key>name</key>
		<string>Siacoin</string>
		<key>abbreviation</key>
		<string>SC</string>
	</dict>
	<key>WAVES</key>
	<dict>
		<key>name</key>
		<string>Waves</string>
		<key>abbreviation</key>
		<string>WAVES</string>
	</dict>
	<key>GNT</key>
	<dict>
		<key>name</key>
		<string>Golem</string>
		<key>abbreviation</key>
		<string>GNT</string>
	</dict>
	<key>BCN</key>
	<dict>
		<key>name</key>
		<string>Bytecoin</string>
		<key>abbreviation</key>
		<string>BCN</string>
	</dict>
	<key>STEEM</key>
	<dict>
		<key>name</key>
		<string>Steem</string>
		<key>abbreviation</key>
		<string>STEEM</string>
	</dict>
	<key>ICN</key>
	<dict>
		<key>name</key>
		<string>Iconomi</string>
		<key>abbreviation</key>
		<string>ICN</string>
	</dict>
	<key>BTH</key>
	<dict>
		<key>name</key>
		<string>Bitcoin Cash</string>
		<key>abbreviation</key>
		<string>BTH</string>
	</dict>
	<key>XLM</key>
	<dict>
		<key>name</key>
		<string>Stellar Lumens</string>
		<key>abbreviation</key>
		<string>XLM</string>
	</dict>
    <key>Qtum</key>
    <dict>
        <key>name</key>
        <string>QTUM</string>
        <key>abbreviation</key>
        <string>QTUM</string>
    </dict>
</dict>
</plist>
