<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BTC</key>
	<dict>
		<key>name</key>
		<string>Bitcoin</string>
		<key>abbreviation</key>
		<string>BTC</string>
	</dict>
	<key>ETH</key>
	<dict>
		<key>name</key>
		<string>Ethereum</string>
		<key>abbreviation</key>
		<string>ETH</string>
	</dict>
	<key>LTC</key>
	<dict>
		<key>name</key>
		<string>Litecoin</string>
		<key>abbreviation</key>
		<string>LTC</string>
	</dict>
	<key>XRP</key>
	<dict>
		<key>name</key>
		<string>Ripple</string>
		<key>abbreviation</key>
		<string>XRP</string>
	</dict>
	<key>ETC</key>
	<dict>
		<key>name</key>
		<string>Ethereum Classic</string>
		<key>abbreviation</key>
		<string>ETC</string>
	</dict>
    <key>BCH</key>
    <dict>
        <key>name</key>
        <string>Bitcoin Cash</string>
        <key>abbreviation</key>
        <string>BCH</string>
    </dict>
	<key>XEM</key>
	<dict>
		<key>name</key>
		<string>NEM</string>
		<key>abbreviation</key>
		<string>XEM</string>
	</dict>
	<key>DASH</key>
	<dict>
		<key>name</key>
		<string>Dash</string>
		<key>abbreviation</key>
		<string>DASH</string>
	</dict>
	<key>IOT</key>
	<dict>
		<key>name</key>
		<string>IOTA</string>
		<key>abbreviation</key>
		<string>IOT</string>
	</dict>
	<key>BTS</key>
	<dict>
		<key>name</key>
		<string>BitShares</string>
		<key>abbreviation</key>
		<string>BTS</string>
	</dict>
	<key>XMR</key>
	<dict>
		<key>name</key>
		<string>Monero</string>
		<key>abbreviation</key>
		<string>XMR</string>
	</dict>
	<key>STRAT</key>
	<dict>
		<key>name</key>
		<string>Stratis</string>
		<key>abbreviation</key>
		<string>STRAT</string>
	</dict>
	<key>ZEC</key>
	<dict>
		<key>name</key>
		<string>Zcash</string>
		<key>abbreviation</key>
		<string>ZEC</string>
	</dict>
	<key>NEO</key>
	<dict>
		<key>name</key>
		<string>NEO</string>
		<key>abbreviation</key>
		<string>NEO</string>
	</dict>
	<key>SC</key>
	<dict>
		<key>name</key>
		<string>Siacoin</string>
		<key>abbreviation</key>
		<string>SC</string>
	</dict>
	<key>WAVES</key>
	<dict>
		<key>name</key>
		<string>Waves</string>
		<key>abbreviation</key>
		<string>WAVES</string>
	</dict>
	<key>GNT</key>
	<dict>
		<key>name</key>
		<string>Golem</string>
		<key>abbreviation</key>
		<string>GNT</string>
	</dict>
	<key>BCN</key>
	<dict>
		<key>name</key>
		<string>Bytecoin</string>
		<key>abbreviation</key>
		<string>BCN</string>
	</dict>
	<key>STEEM</key>
	<dict>
		<key>name</key>
		<string>Steem</string>
		<key>abbreviation</key>
		<string>STEEM</string>
	</dict>
	<key>ICN</key>
	<dict>
		<key>name</key>
		<string>Iconomi</string>
		<key>abbreviation</key>
		<string>ICN</string>
	</dict>
	<key>XLM</key>
	<dict>
		<key>name</key>
		<string>Stellar Lumens</string>
		<key>abbreviation</key>
		<string>XLM</string>
	</dict>
	<key>QTUM</key>
	<dict>
		<key>name</key>
		<string>QTUM</string>
		<key>abbreviation</key>
		<string>QTUM</string>
	</dict>
	<key>OMG</key>
	<dict>
		<key>name</key>
		<string>OmiseGo</string>
		<key>abbreviation</key>
		<string>OMG</string>
	</dict>
	<key>BCCOIN</key>
	<dict>
		<key>name</key>
		<string>BitConnect Coin</string>
		<key>abbreviation</key>
		<string>BCCOIN</string>
	</dict>
	<key>EOS</key>
	<dict>
		<key>name</key>
		<string>EOS</string>
		<key>abbreviation</key>
		<string>EOS</string>
	</dict>
	<key>PAY</key>
	<dict>
		<key>name</key>
		<string>TenX</string>
		<key>abbreviation</key>
		<string>PAY</string>
	</dict>
	<key>USDT</key>
	<dict>
		<key>name</key>
		<string>Tether</string>
		<key>abbreviation</key>
		<string>USDT</string>
	</dict>
	<key>LSK</key>
	<dict>
		<key>name</key>
		<string>Lisk</string>
		<key>abbreviation</key>
		<string>LSK</string>
	</dict>
	<key>REP</key>
	<dict>
		<key>name</key>
		<string>Augur</string>
		<key>abbreviation</key>
		<string>REP</string>
	</dict>
	<key>GBYTE</key>
	<dict>
		<key>name</key>
		<string>Byteball</string>
		<key>abbreviation</key>
		<string>GBYTE</string>
	</dict>
	<key>SNT</key>
	<dict>
		<key>name</key>
		<string>Status</string>
		<key>abbreviation</key>
		<string>SNT</string>
	</dict>
	<key>BAT</key>
	<dict>
		<key>name</key>
		<string>Basic Attention Token</string>
		<key>abbreviation</key>
		<string>BAT</string>
	</dict>
	<key>GNO</key>
	<dict>
		<key>name</key>
		<string>Gnosis</string>
		<key>abbreviation</key>
		<string>GNO</string>
	</dict>
	<key>BTM</key>
	<dict>
		<key>name</key>
		<string>Bitmark</string>
		<key>abbreviation</key>
		<string>BTM</string>
	</dict>
	<key>DOGE</key>
	<dict>
		<key>name</key>
		<string>Dogecoin</string>
		<key>abbreviation</key>
		<string>DOGE</string>
	</dict>
	<key>MAID</key>
	<dict>
		<key>name</key>
		<string>MaidSafeCoin</string>
		<key>abbreviation</key>
		<string>MAID</string>
	</dict>
	<key>DGD</key>
	<dict>
		<key>name</key>
		<string>DigixDAO</string>
		<key>abbreviation</key>
		<string>DGD</string>
	</dict>
	<key>FCT</key>
	<dict>
		<key>name</key>
		<string>Factoids</string>
		<key>abbreviation</key>
		<string>FCT</string>
	</dict>
	<key>MCAP</key>
	<dict>
		<key>name</key>
		<string>MCAP</string>
		<key>abbreviation</key>
		<string>MCAP</string>
	</dict>
	<key>ARK</key>
	<dict>
		<key>name</key>
		<string>Ark</string>
		<key>abbreviation</key>
		<string>ARK</string>
	</dict>
	<key>MTL</key>
	<dict>
		<key>name</key>
		<string>Metal</string>
		<key>abbreviation</key>
		<string>MTL</string>
	</dict>
	<key>DCR</key>
	<dict>
		<key>name</key>
		<string>Decred</string>
		<key>abbreviation</key>
		<string>DCR</string>
	</dict>
	<key>GAME</key>
	<dict>
		<key>name</key>
		<string>GameCredits</string>
		<key>abbreviation</key>
		<string>GAME</string>
	</dict>
	<key>ARDR</key>
	<dict>
		<key>name</key>
		<string>Ardor</string>
		<key>abbreviation</key>
		<string>ARDR</string>
	</dict>
	<key>KMD</key>
	<dict>
		<key>name</key>
		<string>Komodo</string>
		<key>abbreviation</key>
		<string>KMD</string>
	</dict>
	<key>DGB</key>
	<dict>
		<key>name</key>
		<string>DigiByte</string>
		<key>abbreviation</key>
		<string>DGB</string>
	</dict>
	<key>MGO</key>
	<dict>
		<key>name</key>
		<string>MobileGo</string>
		<key>abbreviation</key>
		<string>MGO</string>
	</dict>
	<key>NXT</key>
	<dict>
		<key>name</key>
		<string>Nxt</string>
		<key>abbreviation</key>
		<string>NXT</string>
	</dict>
	<key>BNT</key>
	<dict>
		<key>name</key>
		<string>Bancor</string>
		<key>abbreviation</key>
		<string>BNT</string>
	</dict>
	<key>PIVX</key>
	<dict>
		<key>name</key>
		<string>PIVX</string>
		<key>abbreviation</key>
		<string>PIVX</string>
	</dict>
	<key>STORJ</key>
	<dict>
		<key>name</key>
		<string>Storj</string>
		<key>abbreviation</key>
		<string>STORJ</string>
	</dict>
	<key>FUN</key>
	<dict>
		<key>name</key>
		<string>FunFair</string>
		<key>abbreviation</key>
		<string>FUN</string>
	</dict>
	<key>SNGLS</key>
	<dict>
		<key>name</key>
		<string>SingularDTV</string>
		<key>abbreviation</key>
		<string>SNGLS</string>
	</dict>
</dict>
</plist>
